.container{
    
    display: flex;
    align-items: center;
    gap: var(--spacing-small);

    /* padding: var(--spacing-medium) 0; */
} 

.author_tag_group strong{
    padding-right: var(--spacing-small);
}