.container {
    --main-layout-padding: var(--spacing-large)
}

.container {
    background-color: var(--background-color);
    padding-top: var(--main-layout-padding);

    padding-inline: var(--layout-offset );
}

@media screen and (min-width: 35em) {
    .container {
        --main-layout-padding : var(--spacing-extra-large )
    }
}