.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.4em;
  margin-top: 0.4em;
  border: 2px solid #ccc;
  border-radius: 0.6em;
}

.container_comment {
  margin-left: auto;
}

.prompt {
  color: #49505e;
  font-weight: 700;
}

.buttons {
  margin-left: auto;
}


