.comment_body {
    display: flex;
    gap: 0.5em;
    height: fit-content;
}

.comment_content {
    width: 100%;
}

.comment_content p {
    margin: 0.5em 0;
}

.updown_vote {
    margin-left: auto;
    font-size: 1.5em;
}

.vote:last-child {
    margin-top: 0.5em;    
}

.comment_footer {
    display: flex;
    gap: 1em;
    font-size: 1.125em;
    justify-content: flex-start;
    padding-bottom: 0.6em;
}

.comment_footer__icon {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.reply_wrapper{
    margin: 0.8em;
}